<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="google-signin-client_id" content="452115839068-v9imquvag8d6r8i8tndod4bkqqb73b59.apps.googleusercontent.com">


		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	</head>
	<body>

				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="{{url_for('showcatalog')}}">Catalog</a>
				    </div>

				    <ul class="nav navbar-nav navbar-right">
							<!-- {% if 'username' not in session %} -->
							<div class="g-signin2" data-onsuccess="onSignIn">
							<li><a href="{{url_for('showLogin')}}">Login</a></li>
						 </div>
						 <!-- {% else %} -->
						 <li>	<a href="{{url_for('logout')}}" >Logout</a></li>
						 <!-- {% endif %} -->
				    </ul>
				  </div>
				</nav>

		</div>
</nav>
	</body>


	{% block body_block %}
			{% endblock %}

</html>
